
main{
  height: 1500px;
  width: 1100px;
  margin: auto;
}

nav{
  background-color: gray;
  padding: 25px;
  flex-direction: row;
}
header, ul{
display:flex;
align-items: center;
justify-content: space-around;
}
/* ul {
  display:flex;
  list-style:none;
  padding: 0px;
  justify-content: space-between;
}
li{
  border:1px solid grey;
  padding:5px 10px;
}  */

.mainimg{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.rowimg{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
  padding: 20px;
}
.textimg{
  display:flex;
align-items: center;
justify-content: space-around;
}

.imgsix{
  margin-right: 25px;
}

div{
  margin: 25px;
}

footer{
  background-color: gray;
  padding: 60px;
}